openapi: 3.1.0
info:
  title: Partoo Rest API
  version: v2
  license:
    name: © Copyright Partoo
    url: https://www.partoo.co/en/gtu-api/
servers:
  - url: https://api.partoo.co/v2
    description: Production server
  - url: https://api.sandbox.partoo.co/v2
    description: Sandbox server (dev environment for clients & partners)
paths:
  /business/search:
    get:
      operationId: searchBusinesses
      tags:
        - Businesses
      summary: Search for businesses
      description: >
        This lets you search among the businesses you have `READ` access to. You
        can use several filters. The response is paginated (30 results per
        page).
      parameters:
        - $ref: '#/components/parameters/query_filter_by_fuzzy_query_on_business'
        - $ref: '#/components/parameters/query_business__in'
        - $ref: '#/components/parameters/query_filter_by_org_id'
        - $ref: '#/components/parameters/query_filter_by_group_id'
        - $ref: '#/components/parameters/query_filter_by_groups'
        - $ref: '#/components/parameters/query_filter_by_country'
        - $ref: '#/components/parameters/query_filter_by_business_name'
        - $ref: '#/components/parameters/query_filter_by_business_status'
        - $ref: '#/components/parameters/query_filter_by_zipcode'
        - $ref: '#/components/parameters/query_filter_by_city'
        - $ref: '#/components/parameters/query_filter_by_business_code'
        - $ref: >-
            #/components/parameters/query_filter_by_business_modification_timestamp
        - $ref: '#/components/parameters/query_filter_by_business_features__in'
        - $ref: '#/components/parameters/query_filter_by_business_features__notin'
        - $ref: >-
            #/components/parameters/query_filter_by_business_subscription_to_review_management
        - $ref: >-
            #/components/parameters/query_filter_by_business_subscription_to_presence_management
        - $ref: >-
            #/components/parameters/query_filter_by_business_subscription_to_review_booster
        - $ref: >-
            #/components/parameters/query_filter_by_business_subscription_to_messages
        - $ref: >-
            #/components/parameters/query_filter_by_business_completion_rate__gte
        - $ref: >-
            #/components/parameters/query_filter_by_business_completion_rate__lte
        - $ref: '#/components/parameters/query_filter_by_business_completion_rate'
        - $ref: '#/components/parameters/query_filter_by_business_promo'
        - in: query
          name: connected_to_gmb_location
          schema:
            type: string
            enum:
              - 'True'
              - 'False'
          required: false
          description: Filter by current link to a Google location
        - in: query
          name: connected_to_facebook_location
          schema:
            type: string
            enum:
              - 'True'
              - 'False'
          required: false
          description: Filter by current link to a Facebook location
        - $ref: '#/components/parameters/query_page_up_to_100'
        - $ref: '#/components/parameters/query_per_page_1_100'
        - in: query
          name: order_by
          schema:
            type: string
            enum:
              - id
              - name
              - code
              - created
              - modified
              - country
              - city
              - zipcode
              - completion_rate
              - '-id'
              - '-name'
              - '-code'
              - '-created'
              - '-modified'
              - '-country'
              - '-city'
              - '-zipcode'
              - '-completion_rate'
            default: id
          required: false
          description: >
            Order result by given attribute.

            Reverse order can as well be obtained by using a `-` (minus sign)
            before the attribute name, e.g. `order_by=-name`
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResult'
                  - type: object
                    properties:
                      businesses:
                        type: array
                        description: List of Businesses
                        items:
                          $ref: '#/components/schemas/BusinessWithCustomFields'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  /business/search/stats:
    get:
      operationId: searchBusinessesStats
      tags:
        - Businesses
      summary: Get completion rate stats from your businesses
      description: >
        This endpoint works in the same way as the
        [operation/searchBusinesses](https://developers.partoo.co/rest_api/v2/#operation/searchBusinesses)
        endpoint, but instead of returning data on all returned businesses, this
        endpoint returns completion rate statistics aggregated across all
        businesses.


        The statistics returned are the average completion rate for all
        businesses that fit the given filters, as well as the count of
        businesses with a low, medium, and high respectively. The thresholds for
        low, medium, and high can be found below in the response details.


        Note that this endpoint works in the exact same way as
        [operation/searchBusinesses](https://developers.partoo.co/rest_api/v2/#operation/searchBusinesses)
        (with the exception of parameters that format the output, such as
        <code>order_by</code> and pagination), but the return value is
        different.
      parameters:
        - $ref: '#/components/parameters/query_filter_by_fuzzy_query_on_business'
        - $ref: '#/components/parameters/query_business__in'
        - $ref: '#/components/parameters/query_filter_by_org_id'
        - $ref: '#/components/parameters/query_filter_by_group_id'
        - $ref: '#/components/parameters/query_filter_by_groups'
        - $ref: '#/components/parameters/query_filter_by_country'
        - $ref: '#/components/parameters/query_filter_by_business_name'
        - $ref: '#/components/parameters/query_filter_by_business_status'
        - $ref: '#/components/parameters/query_filter_by_zipcode'
        - $ref: '#/components/parameters/query_filter_by_city'
        - $ref: '#/components/parameters/query_filter_by_business_code'
        - $ref: >-
            #/components/parameters/query_filter_by_business_modification_timestamp
        - $ref: '#/components/parameters/query_filter_by_business_features__in'
        - $ref: '#/components/parameters/query_filter_by_business_features__notin'
        - $ref: >-
            #/components/parameters/query_filter_by_business_subscription_to_review_management
        - $ref: >-
            #/components/parameters/query_filter_by_business_subscription_to_presence_management
        - $ref: >-
            #/components/parameters/query_filter_by_business_subscription_to_review_booster
        - $ref: >-
            #/components/parameters/query_filter_by_business_subscription_to_messages
        - $ref: >-
            #/components/parameters/query_filter_by_business_completion_rate__gte
        - $ref: >-
            #/components/parameters/query_filter_by_business_completion_rate__lte
        - $ref: '#/components/parameters/query_filter_by_business_completion_rate'
        - $ref: '#/components/parameters/query_filter_by_business_promo'
        - in: query
          name: connected_to_gmb_location
          schema:
            type: string
            enum:
              - 'True'
              - 'False'
          required: false
          description: Filter by current link to a Google location
        - in: query
          name: connected_to_facebook_location
          schema:
            type: string
            enum:
              - 'True'
              - 'False'
          required: false
          description: Filter by current link to a Facebook location
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  average_completion_rate:
                    description: >-
                      The average completion rate of all businesses that fit the
                      filters given in paramers.
                    type: integer
                    example: 72
                  counts:
                    type: object
                    properties:
                      low:
                        type: integer
                        example: 2
                        description: >-
                          The number of businesses that fit the filters given in
                          paramers with a completion score of <=33.
                      mid:
                        type: integer
                        example: 10
                        description: >-
                          The number of businesses that fit the filters given in
                          paramers with a completion score of >33 and <=66.
                      high:
                        type: integer
                        example: 22
                        description: >-
                          The number of businesses that fit the filters given in
                          paramers with a completion score of >66.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  /business/connections_stats:
    get:
      tags:
        - Businesses
      operationId: getBusinessConnectionsStats
      summary: Statistics for your connected businesses
      description: >
        This endpoint lets you access the number of businesses connected to
        different platforms.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: |
                      Total number of businesses.
                  linked_to_gmb_count:
                    type: integer
                    description: |
                      Number of businesses linked to Google.
                  linked_to_facebook_count:
                    type: integer
                    description: |
                      Number of businesses linked to Facebook.
                  linked_to_tripadvisor_count:
                    type: integer
                    description: |
                      Number of businesses linked to Tripadvisor.
                  linked_to_instagram_count:
                    type: integer
                    description: |
                      Number of businesses linked to Instagram.
        '401':
          $ref: '#/components/responses/401'
  /business:
    post:
      tags:
        - Businesses
      summary: Create business
      description: >
        This API allows the creation of a new business in the context of your
        organization.
      operationId: createBusiness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Request object
              type: object
              required:
                - name
                - country
                - categories
                - contacts
              properties:
                name:
                  $ref: '#/components/schemas/BusinessName'
                org_id:
                  $ref: '#/components/schemas/BusinessOrgId'
                groups:
                  $ref: '#/components/schemas/groups'
                reach:
                  $ref: '#/components/schemas/BusinessReach'
                country:
                  $ref: '#/components/schemas/BusinessCountry'
                zipcode:
                  $ref: '#/components/schemas/BusinessZipcode'
                city:
                  $ref: '#/components/schemas/RequiredBusinessCity'
                region:
                  $ref: '#/components/schemas/BusinessRegion'
                categories:
                  $ref: '#/components/schemas/BusinessCategories'
                code:
                  $ref: '#/components/schemas/BusinessCode'
                status:
                  $ref: '#/components/schemas/BusinessStatus'
                opening_date:
                  $ref: '#/components/schemas/BusinessOpeningDate'
                address_full:
                  $ref: '#/components/schemas/AddressFull'
                address2:
                  $ref: '#/components/schemas/Address2'
                lat:
                  $ref: '#/components/schemas/BusinessLatitude'
                long:
                  $ref: '#/components/schemas/BusinessLongitude'
                website_url:
                  $ref: '#/components/schemas/BusinessWebsite'
                facebook_url:
                  $ref: '#/components/schemas/BusinessFacebookPage'
                twitter_url:
                  $ref: '#/components/schemas/BusinessTwitter'
                description_short:
                  $ref: '#/components/schemas/BusinessShortDescription'
                description_long:
                  $ref: '#/components/schemas/BusinessLongDescription'
                open_hours:
                  $ref: '#/components/schemas/OpenHours'
                specific_hours:
                  $ref: '#/components/schemas/SpecificHours'
                contacts:
                  $ref: '#/components/schemas/BusinessContactsCreate'
                photos:
                  $ref: '#/components/schemas/Photos'
                national_identification_number:
                  $ref: '#/components/schemas/BusinessNationalIdentificationNumber'
                custom_fields:
                  $ref: '#/components/schemas/CustomFields.Update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/RequestStatus'
                  id:
                    $ref: '#/components/schemas/BusinessId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /business/{business_id}:
    get:
      tags:
        - Businesses
      operationId: getBusiness
      summary: Business information
      description: >
        This endpoint lets you access to the information of a business. You need
        to have `READ`access on this business.
      parameters:
        - $ref: '#/components/parameters/business_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessWithCustomFields'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      tags:
        - Businesses
      operationId: updateBusiness
      summary: Update business
      description: >
        This endpoint lets you access to the information of a business. You need
        to have `WRITE` access on this business. Only indicated values are taken
        into account (it works like a `PATCH`). You cannot push fields disabled
        for your org.
      parameters:
        - $ref: '#/components/parameters/business_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Request object
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/BusinessName'
                org_id:
                  $ref: '#/components/schemas/BusinessOrgId'
                groups:
                  $ref: '#/components/schemas/groups'
                country:
                  $ref: '#/components/schemas/BusinessCountry'
                zipcode:
                  $ref: '#/components/schemas/BusinessZipcode'
                city:
                  $ref: '#/components/schemas/BusinessCity'
                region:
                  $ref: '#/components/schemas/BusinessRegion'
                categories:
                  $ref: '#/components/schemas/BusinessCategories'
                code:
                  $ref: '#/components/schemas/BusinessCode'
                status:
                  $ref: '#/components/schemas/BusinessStatus'
                opening_date:
                  $ref: '#/components/schemas/BusinessOpeningDate'
                address2:
                  description: Row address string
                  type: string
                address_full:
                  $ref: '#/components/schemas/AddressFull'
                lat:
                  $ref: '#/components/schemas/BusinessLatitude'
                long:
                  $ref: '#/components/schemas/BusinessLongitude'
                website_url:
                  $ref: '#/components/schemas/BusinessWebsite'
                facebook_url:
                  $ref: '#/components/schemas/BusinessFacebookPage'
                twitter_url:
                  $ref: '#/components/schemas/BusinessTwitter'
                description_short:
                  $ref: '#/components/schemas/BusinessShortDescription'
                description_long:
                  $ref: '#/components/schemas/BusinessLongDescription'
                open_hours:
                  $ref: '#/components/schemas/OpenHours'
                specific_hours:
                  $ref: '#/components/schemas/SpecificHours'
                contacts:
                  $ref: '#/components/schemas/BusinessContacts'
                photos:
                  $ref: '#/components/schemas/Photos'
                national_identification_number:
                  $ref: '#/components/schemas/BusinessNationalIdentificationNumber'
                custom_fields:
                  $ref: '#/components/schemas/CustomFields.Update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/RequestStatus'
                  id:
                    $ref: '#/components/schemas/BusinessId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: |
            You are not allowed to perform this action
          content:
            application/json:
              schema:
                description: >
                  Error that occurs when you are authenticated but you are
                  trying to perform an action you are not allowed to perform
                type: object
                properties:
                  errors:
                    type: object
                    description: The detail of the error encountered
                    properties:
                      authorization:
                        additionalProperties:
                          type: string
                          default: Operation not allowed
              example:
                errors:
                  authorization:
                    name: edit_not_allowed
                    open_hours: edit_not_allowed
                    photos.primary: edit_not_allowed
                    photos.secondary: edit_not_allowed
        '404':
          $ref: '#/components/responses/404'
    delete:
      tags:
        - Businesses
      operationId: deleteBusiness
      summary: Delete business
      description: >
        This endpoint lets you delete a business. You need to have `WRITE`access
        on this business.
      parameters:
        - $ref: '#/components/parameters/business_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Response object
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/BusinessId'
                  status:
                    $ref: '#/components/schemas/RequestStatus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /attributes/list:
    get:
      summary: List Google Attributes
      description: >
        <p>Get all Google Attributes available for a Category in a given
        language. </p> <p>⚠️ <b>What are Google Attributes ?</b> <p>Google
        Attributes are highly visible statements about your business that appear
        on your Google listing. <p>They indicate things like Payment Options,
        Amenities, Accessibility and Highlights. <p>Does a business provide
        parking? Does it have a fireplace? Can customers pay with a debit card?
        <p>To recover attributes values set for a business, <a
        href="#operation/getBusinessAttributes">see get attributes business
        endpoints</a>. <p>To handle attributes values for businesses, <a
        href="#operation/postBusinessAttributes">see set attributes business
        endpoints</a>. <p>This endpoint allows you to view the **Google**
        attributes available for a given Category.
      operationId: getAttributes
      tags:
        - Google
      parameters:
        - $ref: '#/components/parameters/category_name'
        - $ref: '#/components/parameters/country'
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributesGroupResponse'
        '400':
          description: Wrong or missing parameters
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/AttributesMissingParametersError'
                  - $ref: '#/components/schemas/AttributesWrongCategoryError'
                  - $ref: '#/components/schemas/AttributesWrongLangError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /holidays/{country}:
    get:
      tags:
        - Holidays
      operationId: getHolidays
      summary: Get holidays
      description: >
        This endpoint allows you to retrieve a list of upcoming bank holidays
        for a specified country within the next 365 days.  The holidays are
        ordered based on their occurrence dates.
      parameters:
        - name: country
          in: path
          required: true
          schema:
            type: string
          example: FR
          description: >-
            Country code from ISO 3166 international standard -
            https://www.iban.com/country-codes
        - name: lang
          in: query
          schema:
            description: >-
              Preferred language for holiday names. If no language is provided,
              the user's default language will be used. If the user's default
              language is unavailable, the country's primary language will be
              used.
            type: string
            enum:
              - fr
              - en
              - es
              - it
              - pt-br
              - de
              - ar
            example: fr
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  holidays:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name of bank holiday
                        date:
                          type: string
                          format: date
                          description: Date of bank holiday
                example:
                  holidays:
                    - name: Armistice
                      date: '2023-11-11'
                    - name: Noël
                      date: '2023-12-25'
                    - name: Jour de l'an
                      date: '2024-01-01'
                    - name: Lundi de Pâques
                      date: '2024-04-01'
                    - name: Fête du Travail
                      date: '2024-05-01'
                    - name: Fête de la Victoire
                      date: '2024-05-08'
                    - name: Ascension
                      date: '2024-05-09'
                    - name: Lundi de Pentecôte
                      date: '2024-05-20'
                    - name: Fête nationale
                      date: '2024-07-14'
                    - name: Assomption
                      date: '2024-08-15'
                    - name: Toussaint
                      date: '2024-11-01'
                    - name: Christmas
                      date: '2024-12-25'
                    - name: New Year's Day
                      date: '2025-01-01'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  /place_action_links:
    get:
      tags:
        - Place Action Links
      summary: Get Place Action Links
      description: |
        Retrieve a list of available place action links. 
      operationId: getAvailablePlaceActionLinks
      parameters:
        - $ref: '#/components/parameters/query_place_action_link_lang'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlaceActionLinksResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /reviews:
    get:
      summary: Search for reviews
      description: >
        This endpoint lets you search for the reviews of your businesses.


        To access the reviews of a business you need to have `READ` access on
        it.

        The response is paginated (30 results per page).
      operationId: searchReviews
      tags:
        - Reviews
      parameters:
        - $ref: '#/components/parameters/query_business__in'
        - $ref: '#/components/parameters/query_business__notin'
        - $ref: '#/components/parameters/query_content__isnull'
        - $ref: '#/components/parameters/query_partner__in'
        - $ref: '#/components/parameters/query_gmb_rating__in'
        - $ref: '#/components/parameters/query_tripadvisor_rating__in'
        - $ref: '#/components/parameters/query_recommended__in'
        - $ref: '#/components/parameters/query_review_update_date__gte'
        - $ref: '#/components/parameters/query_review_update_date__lte'
        - $ref: '#/components/parameters/query_review_state'
        - $ref: '#/components/parameters/query_tag_label_in'
        - $ref: '#/components/parameters/query_review_without_tag'
        - $ref: '#/components/parameters/query_keywords'
        - $ref: '#/components/parameters/query_page_up_to_100'
        - $ref: '#/components/parameters/query_per_page_1_100'
        - $ref: '#/components/parameters/query_order_by'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResult'
                  - type: object
                    properties:
                      reviews:
                        description: Filtered reviews
                        type: array
                        items:
                          $ref: '#/components/schemas/Review'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /reviews/{review_id}:
    put:
      summary: Update a review
      description: |
        Update the state of a review to treated/not_treated
      operationId: updateReview
      tags:
        - Reviews
      parameters:
        - in: path
          name: review_id
          required: true
          schema:
            $ref: '#/components/schemas/ReviewId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Request body to post a reply
              type: object
              required:
                - review_id
                - state
              properties:
                state:
                  description: Reply state
                  type: string
                  enum:
                    - treated
                    - not_treated
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Review'
                  - properties:
                      state:
                        example: treated
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /comments:
    post:
      tags:
        - Reviews
      summary: Post a reply to a review
      description: This endpoint lets you reply to a given review.
      operationId: ReplyToReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Request body to post a reply
              type: object
              required:
                - review_id
                - content
              properties:
                review_id:
                  description: ID of the review you want to reply
                  type: number
                  example: 34
                parent_id:
                  description: >
                    The id of the parent comment you want to reply


                    Works only for Facebook comments, since it's possible to
                    reply to a comment (depth max is 2).

                    Google and TripAdvisor don't accept this behaviour.
                  type: number
                  example: 1234
                content:
                  description: Content of your reply
                  type: string
                  format: text
                  example: Merci ❤️
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /comments/{comment_id}:
    put:
      tags:
        - Reviews
      summary: Modify a reply to a review
      description: This endpoint lets you modify a given reply to a review.
      operationId: ModifyReplyOfReview
      parameters:
        - in: path
          name: comment_id
          required: true
          schema:
            $ref: '#/components/schemas/CommentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Request body to modify a reply
              type: object
              required:
                - content
              properties:
                content:
                  description: Content of your Reply
                  type: string
                  format: text
                  example: Merci ❤️
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      tags:
        - Reviews
      summary: Delete the given reply to a review
      operationId: deleteReply
      description: |
        This endpoint lets you delete the reply to a review
      parameters:
        - in: path
          name: comment_id
          required: true
          schema:
            $ref: '#/components/schemas/CommentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /presence_analytics/metrics:
    get:
      summary: Profile metrics for your business
      description: >
        This endpoint lets you view the **Google Business Profile** analytics
        for all your businesses subscribed to

        **Presence Management**.

        The API allows you to select what data you're interested in, and how you
        want it aggregated (daily, monthly,

        by business, etc). You can also filter the results to limit it to a
        certain date range, and to certain business.


        Google Business Profile doesn't provide reliable data for the most
        recent 5 days.


        You can choose the analytics you want to get among:

        - impressions: desktop maps impressions, mobile maps impressions,
        desktop search impressions, and mobile search impressions

        - actions: website link clicks, phone calls, and driving directions


        You can use the following filters:

        - by businesses (businesses id in list or not in list)

        - by date (analytics before and/or after a date)

        - by business query. Will return matches for the business name, zipcode
        or city

        - by business city.


        The response can be aggregated by:

        - business id

        - by date: either by day, week, month or year

        - by both business id and date


        The response can be ordered in ascending or descending order by any of
        the selected dimensions or metrics.

        See examples for more details.
      operationId: getPresenceAnalyticsMetrics
      tags:
        - Presence analytics
      deprecated: false
      parameters:
        - $ref: '#/components/parameters/query_metrics'
        - $ref: '#/components/parameters/query_dimensions'
        - $ref: '#/components/parameters/parameters_query_order_by'
        - $ref: '#/components/parameters/parameters_query_business__in'
        - $ref: '#/components/parameters/parameters_query_business__notin'
        - $ref: '#/components/parameters/query_city'
        - $ref: '#/components/parameters/query_query'
        - $ref: '#/components/parameters/query_filter_date__gte'
        - $ref: '#/components/parameters/query_filter_date__lte'
        - $ref: '#/components/parameters/parameters_query_page'
        - $ref: '#/components/parameters/query_per_page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceAnalyticsMetricsResponse'
              examples:
                metrics=business_impressions_desktop_maps,business_impressions_desktop_search,business_impressions_mobile_maps,business_impressions_mobile_search,business_direction_requests,call_clicks,website_clicks:
                  value:
                    page: 1
                    count: 1
                    max_page: 1
                    metrics:
                      - business_impressions_desktop_maps: 123
                        business_impressions_desktop_search: 123
                        business_impressions_mobile_maps: 123
                        business_impressions_mobile_search: 123
                        business_direction_requests: 123
                        call_clicks: 123
                        website_clicks: 123
                dimensions=business & metrics=call_clicks:
                  value:
                    page: 1
                    count: 3
                    max_page: 1
                    metrics:
                      - call_clicks: 103
                        business_id: 59b2645db12ff60643ef832c
                      - call_clicks: 165
                        business_id: 60b2645fb12ff60643ef8344
                      - call_clicks: 28
                        business_id: 70b2645eb12ff60643ef833c
                dimensions=month & metrics=website_clicks & order_by=website_clicks:
                  value:
                    page: 1
                    count: 2
                    max_page: 1
                    metrics:
                      - website_clicks: 57
                        date: '2019-08-01'
                        bucket: month
                      - website_clicks: 79
                        date: '2019-09-01'
                        bucket: month
                dimensions=day,business & metrics=call_clicks & order_by=-day:
                  value:
                    page: 1
                    count: 6
                    max_page: 1
                    metrics:
                      - call_clicks: 48
                        business_id: 59b2645db12ff60643ef832c
                        date: '2019-09-30'
                        bucket: day
                      - call_clicks: 6
                        business_id: 59b2645fb12ff60643ef8344
                        date: '2019-09-30'
                        bucket: day
                      - call_clicks: 11
                        business_id: 59b2645db12ff60643ef832c
                        date: '2019-09-29'
                        bucket: day
                      - call_clicks: 0
                        business_id: 59b2645fb12ff60643ef8344
                        date: '2019-09-29'
                        bucket: day
                      - call_clicks: 2
                        business_id: 59b2645db12ff60643ef832c
                        date: '2019-09-28'
                        bucket: day
                      - call_clicks: 66
                        business_id: 59b2645fb12ff60643ef8344
                        date: '2019-09-28'
                        bucket: day
                dimensions=week & metrics=website_clicks & filter_date__gte=2019-09-15 & filter_date__lte=2019-09-16:
                  value:
                    page: 1
                    count: 2
                    max_page: 1
                    metrics:
                      - website_clicks: 32
                        date: '2019-09-09'
                        bucket: week
                      - website_clicks: 164
                        date: '2019-09-16'
                        bucket: week
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /presence_analytics/keywords:
    get:
      summary: Profile keywords for your business
      description: >
        This endpoint lets you view the monthly **Google Business Profile**
        search keywords for all your businesses subscribed to Presence
        Management.


        To access the analytics of a business, you need to:

        - have `READ` access on it

        - have subscribed to **Presence Management** for this business.

        - You can access the search keywords from **Google Business Profile**.


        The analytics on search keywords are made available by Google Business
        Profile on a monthly basis.


        You will receive the following metrics:


        - count: The sum of the number of unique users that used the keyword in
        a month

        - threshold: A threshold value indicating that the actual value is less
        than the threshold. Google Business Profile typically displays for
        search keywords that were used less than 15 times in a month.


        You can use the following filters:


        - by businesses (businesses id in list, and restricted to one business
        when using the keyword dimension.)

        - by date (analytics before and/or after a date)


        The response can be aggregated by:

        - business id

        - by date: month or year

        - both business id and date


        The response can be ordered by:


        - business id

        - by date: month, or year


        The response can be ordered in ascending or descending order by any of
        the selected dimensions or metrics.
      operationId: getPresenceAnalyticsKeywords
      tags:
        - Presence analytics
      deprecated: false
      parameters:
        - $ref: '#/components/parameters/parameters_query_metrics'
        - $ref: '#/components/parameters/parameters_query_dimensions'
        - $ref: '#/components/parameters/parameters_query_order_by-2'
        - $ref: '#/components/parameters/parameters_query_business__in'
        - $ref: '#/components/parameters/parameters_query_filter_date__gte'
        - $ref: '#/components/parameters/parameters_query_filter_date__lte'
        - $ref: '#/components/parameters/parameters_query_page'
        - $ref: '#/components/parameters/query_per_page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceAnalyticsKeywordsResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /review_analytics/metrics:
    get:
      tags:
        - Review analytics
      summary: Get Review metrics
      operationId: getReviewAnalyticsMetrics
      description: >
        This endpoint lets you view the statistics related to reviews made to
        your businesses subscribed to
         **Review Management**.

         A request is composed of:
         - One or more `metrics` which is the data you want to return
         - An optional `dimensions` which defines how the data is grouped by
           - If it is omitted, the request will return the metrics over all the data, based on your filters
         - An optional `order_by` to define how the data is sorted
         - Filters, the data can be filtered by:
           - Businesses
           - Groups
           - Tags
           - Review update date

         Here is the list of all **metrics** available:
         - `average_rating`: Average rating
         - `rating_distribution`: Breakdown of the ratings (Number of 1-star reviews, 2-star reviews, 3-star reviews, etc...)
         - `reviews_count`: Number of reviews received
         - `reply_time`: Breakdown of the reviews based on how fast (less or more than 48 hours) they have been replied to (or not replied)
         - `reply_means`: Breakdown of the review replies based on the reply method used (manual reply, reply template, auto reply or AI suggestion)
         - `average_rating_distribution`: Breakdown of your businesses based on their average rating
         - `rank`: Allows you to rank the users, businesses or groups based on their performance on a metric (an order_by is required)

         Here is the list of all **dimensions** available, and for each of them, the list of metrics and sort order available:
         - No dimension
           - This allows you to get global stats across all your businesses
           - Available metrics: `average_rating`, `rating_distribution`, `reviews_count`, `reply_time`, `reply_means`, `average_rating_distribution`
         - Date dimensions: `day`, `week`, `month`, `year`
           - This allows you to get the evolution of your metrics over time
           - Available metrics: `average_rating`, `rating_distribution`, `reviews_count`, `reply_time`, `reply_means`
         - Business and business group dimensions: `business`, `group`
           - This allows you to see the metrics business by business or group by group (Requires group filter)
           - Available metrics: `average_rating`, `rating_distribution`, `reviews_count`, `reply_time`, `reply_means`, `rank`
         - `user`
           - This allows you to see the metrics user by user
           - Available metrics: `reply_time`, `reply_means`, `rank`
         - `tag`
           - This allows you to see the metrics tag by tag
           - Available metrics: `average_rating`, `rating_distribution`, `reviews_count`

         Here is the list of all **order_by** available (Add a minus `-` sign before to order by decreasing order):
         - `average_rating`: Sort by average rating
         - `reviews_count`: Sort by review_count
         - `reply_time__total`: Sort by number of reviews received
         - `reply_means__total`: Sort by number of reviews that have been replied
         - `ratio__rating_distribution__5`: Sort by the ratio of 5 star reviews
         - `ratio__rating_distribution__negative`: Sort by the ratio of negative reviews
         - `ratio__reply_time__fast`: Sort by the ratio of reviews replied in less than 2 days
         - `ratio__reply_time__slow`: Sort by the ratio of reviews replied in more than 2 days
         - `ratio__reply_time__not_replied`: Sort by the ratio of reviews not replied
         - `ratio__reply_means__manual`: Sort by the ratio reviews replied manually
         - `ratio__reply_means__ai_suggestion`: Sort by the ratio reviews replied using AI suggestion
         - `ratio__reply_means__reply_template`: Sort by the ratio reviews replied using reply template
         - `ratio__reply_means__auto_reply`: Sort by the ratio reviews replied using auto reply

         To use an **order_by** parameter, its corresponding metric must be included in the request.
         (i.e.
         to order by `average_rating`, you must include the `average_rating` metric in the `metrics` parameter,
         to order by `ratio__rating_distribution__5`, you must include the `rating_distribution` metric in the `metrics` parameter,
         and so on...)
      parameters:
        - $ref: '#/components/parameters/parameters_query_metrics-2'
        - $ref: '#/components/parameters/parameters_query_dimensions-2'
        - $ref: '#/components/parameters/parameters_query_order_by-3'
        - $ref: '#/components/parameters/parameters_query_business__in'
        - $ref: '#/components/parameters/parameters_query_business__notin'
        - $ref: '#/components/parameters/query_groups'
        - $ref: '#/components/parameters/query_tags'
        - $ref: '#/components/parameters/query_update_date__gte'
        - $ref: '#/components/parameters/query_update_date__lte'
        - $ref: '#/components/parameters/parameters_query_page-2'
        - $ref: '#/components/parameters/parameters_query_per_page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResult'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ReviewMetricsResponse'
              examples:
                '?metrics=average_rating&dimensions=business':
                  value:
                    page: 1
                    count: 2
                    max_page: 1
                    data:
                      - dimension: 59b2645db12ff60643ef832c
                        dimension_name: Business 1
                        dimension_info:
                          address_full: 190 rue Championnet
                          city: Paris
                          zipcode: '75018'
                          code: PTOCODE1
                        metrics:
                          average_rating: 2.31
                      - dimension: 60b2645fb12ff60643ef8344
                        dimension_name: Business 2
                        dimension_info:
                          address_full: 190 rue Championnet
                          city: Paris
                          zipcode: '75018'
                          code: PTOCODE2
                        metrics:
                          average_rating: 4.31
                '?metrics=average_rating_distribution':
                  value:
                    page: 1
                    count: 1
                    max_page: 1
                    data:
                      - dimension: null
                        metrics:
                          average_rating_distribution:
                            4.3-5: 274
                            3.8-4.3: 124
                            3-3.8: 62
                            0-3: 5
                            'NULL': 4
                '?metrics=average_rating,reviews_count&dimensions=day&filter_date__lte=2024-02-13&filter_date__gte=2024-02-11':
                  value:
                    page: 1
                    count: 3
                    max_page: 1
                    data:
                      - dimension: '2024-02-11'
                        metrics:
                          average_rating: 3.31
                          reviews_count: 123
                      - dimension: '2024-02-12'
                        metrics:
                          average_rating: 3.34
                          reviews_count: 123
                      - dimension: '2024-02-13'
                        metrics:
                          average_rating: 3.77
                          reviews_count: 123
                '?metrics=reply_time,reply_means&dimensions=user':
                  value:
                    page: 1
                    count: 1
                    max_page: 1
                    data:
                      - dimension: 64477ae0264810a01c0a4edf
                        dimension_name: User 1
                        metrics:
                          reply_time:
                            fast: 11
                            slow: 32
                            not_replied: 0
                            total: 43
                          reply_means:
                            ai_suggestion: 20
                            manual: 3
                            auto_reply: 0
                            reply_template: 20
                            total: 43
                '?metrics=rank,rating_distribution&dimensions=group&order_by=-ratio__rating_distribution__5&groups=1244,1245,1246':
                  value:
                    page: 1
                    count: 3
                    max_page: 1
                    data:
                      - dimension: 1244
                        dimension_name: Group 1244
                        metrics:
                          rank: 1
                          rating_distribution:
                            '1': 0
                            '2': 0
                            '3': 0
                            '4': 0
                            '5': 65
                      - dimension: 1245
                        dimension_name: Group 1245
                        metrics:
                          rank: 1
                          rating_distribution:
                            '1': 0
                            '2': 0
                            '3': 11
                            '4': 32
                            '5': 65
                      - dimension: 60b2645fb12ff60643ef8344
                        dimension_name: Group 1246
                        metrics:
                          rank: 3
                          rating_distribution:
                            '1': 19
                            '2': 0
                            '3': 0
                            '4': 0
                            '5': 0
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /reviews/stats:
    get:
      tags:
        - Review analytics
      summary: Global reviews statistics
      operationId: getReviewAnalytics
      deprecated: true
      description: >
        This endpoint let you view the global reviews statistics for all your
        businesses subscribed to

        **Review Management**.


        You can use the following filters:
          - by date (statistics before and/or after a date)
          - by businesses (businesses id in list or not in list)
          - by keywords

        The response is aggregated according to the previously selected filters.


        In order to get analytics evolution overtime returned by specific time
        range, please refer to

        **Qualitative Evolution** and **Quantitative Evolution** endpoints.
      parameters:
        - $ref: '#/components/parameters/query_review_business__in'
        - $ref: '#/components/parameters/query_keywords'
        - $ref: '#/components/parameters/query_review_update_date__gte'
        - $ref: '#/components/parameters/query_review_update_date__lte'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewsStatisticsResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /reviews/qualitative-evolution:
    get:
      tags:
        - Review analytics
      summary: Qualitative evolution
      operationId: getQualitativeEvolution
      deprecated: true
      description: >
        This endpoint lets you view the qualitative evolution of the **reviews
        rating** for all of your businesses

        subscribed to **Review Management**. The API returns the reviews average
        rating by bucket (time range).


        You can use the following filters:
          - by date (analytics before and/or after a date)
          - by businesses (businesses id in list or not in list)
          - by keywords
      parameters:
        - $ref: '#/components/parameters/query_review_bucket'
        - $ref: '#/components/parameters/query_review_cumulative'
        - $ref: '#/components/parameters/query_review_business__in'
        - $ref: '#/components/parameters/query_keywords'
        - $ref: '#/components/parameters/query_review_update_date__gte'
        - $ref: '#/components/parameters/query_review_update_date__lte'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                  - date: '2019-11-29'
                    average: 4.54
                    added: 50
                    cum_sum: 70
                  - date: '2019-12-05'
                    average: 4.34
                    added: 34
                    cum_sum: 104
                  - date: '2019-12-12'
                    average: 4.41
                    added: 4
                    cum_sum: 108
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: datetype
                      description: Start date of the bucket
                    average:
                      type: number
                      format: float
                      description: Average rating.
                    added:
                      type: integer
                      description: Number of reviews added during the current bucket.
                    cum_sum:
                      type: number
                      format: float
                      description: Cumulative sum of the number of reviews.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /reviews/quantitative-evolution:
    get:
      tags:
        - Review analytics
      summary: Quantitative evolution
      operationId: getQuantitativeEvolution
      deprecated: true
      description: >
        This endpoint lets you view the quantitative evolution of the **number
        of reviews** for all of your businesses

        subscribed to **Review Management**. The API returns the cumulative sum
        of the number of reviews by bucket

        (time range) selected overtime.


        You can use the following filters:
          - by date (analytics before and/or after a date)
          - by businesses (businesses id in list or not in list)
          - by keywords
      parameters:
        - $ref: '#/components/parameters/query_review_bucket'
        - $ref: '#/components/parameters/query_review_business__in'
        - $ref: '#/components/parameters/query_keywords'
        - $ref: '#/components/parameters/query_review_update_date__gte'
        - $ref: '#/components/parameters/query_review_update_date__lte'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                  - date: '2019-11-29'
                    added: 50
                    previous_sum: 20
                    cum_sum: 70
                  - date: '2019-12-05'
                    added: 34
                    previous_sum: 70
                    cum_sum: 104
                  - date: '2019-12-12'
                    added: 4
                    previous_sum: 104
                    cum_sum: 108
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: datetype
                      description: Start date of the bucket
                    added:
                      type: integer
                      description: Number of reviews added during the current bucket.
                    previous_sum:
                      type: number
                      description: >-
                        Cumulative sum of the number of reviews for the previous
                        bucket.
                      format: float
                    cum_sum:
                      type: number
                      format: float
                      description: Cumulative sum of the number of reviews.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
components:
  schemas:
    Status:
      type: string
      example: active
      description: Filter api_keys by status. A key is inactive when expired or disabled.
      enum:
        - active
        - inactive
        - disabled
        - expired
    current_page:
      type: integer
      description: Current page number
      example: 1
    max_page:
      type: integer
      description: Last page number
      example: 10
    count:
      type: integer
      description: Number of resources complying with filters
      example: 287
    ListResult:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/current_page'
        max_page:
          $ref: '#/components/schemas/max_page'
        count:
          $ref: '#/components/schemas/count'
    id:
      type: integer
      example: 3245
    label:
      type: string
      example: API key name
      description: Name given to recognize the Api key
    UserId:
      description: User id
      type: string
      example: 5309c3a237bbc544d8e26737
    UserName:
      description: >-
        User first name and last name concatenated. Can be null if it's your org
        integration api key.
      type: string
      example: Perceval de Galles
    Role:
      description: User role in the application
      type: string
      enum:
        - PROVIDER
        - ORG_ADMIN
        - GROUP_MANAGER
        - BUSINESS_MANAGER
        - PUBLISHER
      example: BUSINESS_MANAGER
    expiration_date:
      type: string
      pattern: yyyy-mm-dd
      example: '2022-06-05'
      description: >-
        Must be at least the day after today. If you want it to expire today you
        must revoke it. You can set it to null.
    ip_whitelist:
      description: >
        List of IP or CIDR network notations to which API Key calls are
        restricted.


        Empty list means no restriction.
      type: array
      items:
        type: string
      example:
        - 172.16.0.0/12
        - 127.0.0.1
    ApiKey:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/id'
        label:
          $ref: '#/components/schemas/label'
        user_id:
          $ref: '#/components/schemas/UserId'
        user_name:
          $ref: '#/components/schemas/UserName'
        user_role:
          $ref: '#/components/schemas/Role'
        disabled:
          type: boolean
          example: false
          description: Is true if someone revoked the key.
        expiration_date:
          $ref: '#/components/schemas/expiration_date'
        last_used_at:
          type: string
          pattern: date
          example: '2019-08-22 11:46:38.914467+00'
        created_by:
          $ref: '#/components/schemas/UserId'
        created_by_name:
          description: >-
            First name and last name concatenated of the user that created the
            key
          type: string
          example: John Smith
        created_at:
          type: string
          pattern: date
          example: '2018-03-12 11:49:03.399475+00'
        revoked_by:
          $ref: '#/components/schemas/UserId'
        revoked_by_name:
          description: >-
            First name and last name concatenated of the user that revoked the
            key
          type: string
          example: John Smith
        revoked_at:
          type: string
          pattern: date
          example: '2020-10-20 11:46:38.914467+00'
        ip_whitelist:
          $ref: '#/components/schemas/ip_whitelist'
    BusinessId:
      description: Business id
      type: string
      example: 5409c35a97bbc544d8e26737
    BusinessStatusFilter:
      description: >
        <p>Defines the current status of the business. `Open` indicates the
        business is up and running. `Closed` means that the business has
        definitely closed. `Opening Soon` indicates the business is open with an
        opening date set in the future. `Temporarily closed` means that the
        business is temporarily closed.

        <p>⚠️ To get all businesses with the status <code>open</code>,
        regardless of whether the <code>opening_date</code> has passed yet or
        not, submit both the <code>open</code> and <code>opening_soon</code>
        options in the filter: <code>status=open,opening_soon</code>
      type: string
      enum:
        - open
        - closed
        - opening_soon
        - temporarily_closed
      default: open
      example: open
    FeatureEnum:
      enum:
        - diffusion
        - feedback_management
        - messages
        - posts
        - review_invite
        - review_management
    BusinessCode:
      description: >-
        The unique store code of the business. If not provided, it will be
        automatically generated
      type: string
      example: CS-75019
    BusinessStatus:
      description: >
        <p>Defines the current status of the business. <code>open</code>
        indicates the business is up and running. <code>closed</code> means that
        the business has definitely closed. <code>temporarily_closed</code>
        means that the business is temporarily closed, it is advised when your
        business is closed for more than one week, otherwise use the
        <code>specific_hours</code></p>
      type: string
      enum:
        - open
        - closed
        - temporarily_closed
      default: open
      example: open
    BusinessOpeningDate:
      description: >-
        The opening_date represents the date when a business was opened. The
        format of the date must be in ISO 8601 format (YYYY-MM-DD). ⚠️ The date
        must be in the past or no more than one year in the future from the
        current date (Google API requirement).
      type: string
      format: YYYY-MM-DD
      example: '2025-01-01'
    BusinessOrgId:
      description: >-
        The organization unique identifier at Partoo. During onboarding, Partoo
        creates an organization where all your businesses will be aggregated
      type: integer
      example: 42
    GroupId:
      description: >-
        The id of the group the business belongs to. An organization can have
        multiple groups that contain one or more businesses. A business can
        belong to only one group.
      type: integer
      example: 23
      deprecated: true
    groups:
      description: >
        List of Group ID of the business.


        Groups the business belongs to.


        See <a href="#tag/Groups-and-Sections-NEW">the Groups and Sections
        description</a>
      type: array
      items:
        type: integer
      example:
        - 1
        - 2
        - 3
    BusinessName:
      description: >-
        The name of the business (POI) as it will appear on the publishing
        platforms
      type: string
      minLength: 1
      example: Corner shop
    AddressFull:
      description: |
        Full address of the business.

        For example : `130 Rue du Mont-Cenis`.
      type:
        - string
        - 'null'
      example: 12 bis rue du coquelicot
    Address2:
      description: >-
        Complement of address. Any additional information that could help better
        find the business location
      type:
        - string
        - 'null'
    BusinessCity:
      description: The city where the business is located
      type:
        - string
        - 'null'
      example: Paris
    BusinessZipcode:
      description: >-
        Zipcode (or postal code) for the business address. Can be empty if the
        business' country does not require one.
      type:
        - string
        - 'null'
      example: '75019'
    BusinessRegion:
      description: >-
        The region where the business is located. Can be empty, it is only
        useful for some countries like Italy or Spain among others.
      type:
        - string
        - 'null'
      example: Ile-de-France
    BusinessCountry:
      description: >-
        Business country - In the ISO 3166 alpha2 code format (i.e. use “FR” for
        France instead of "fr")
      type: string
      example: FR
    BusinessDefaultLang:
      description: >-
        Business default language - it either corresponds to the country's
        default language or set as English by default
      type: string
      example: fr
    BusinessCategories:
      minItems: 1
      description: >
        A list of category ids mapped to the business. At least one category
        needs to be provided. For more information see [Categories
        section](https://developers.partoo.co/rest_api/v2/#tag/Categories)
      type: array
      items:
        type: string
      example:
        - gcid:restaurant
        - gcid:fast_food_restaurant
        - gcid:hamburger_restaurant
    TimeWindow:
      description: Time window
      type: string
      pattern: ^([0-1][0-9]|2[0-3]):([0-5][0-9])-([0-1][0-9]|2[0-3]):([0-5][0-9])$
      example: 10:00-14:00
    TimeSlotReference:
      description: >-
        Default time period, can be used to set open hours of a day from
        Partoo's interface.
      type: array
      items:
        $ref: '#/components/schemas/TimeWindow'
    Day:
      description: >-
        Open in the morning and in the evening `[10:00-14:00, 18:00-00:00]`.
        Closed the whole day `[]`
      type: array
      items:
        $ref: '#/components/schemas/TimeWindow'
      example:
        - 10:00-14:00
    OpenHours:
      description: >
        <p>The opening hours of the business (in its timezone).

        <p>Opening hours are specified per weekday. This is done by supplying an
        object mapping weekdays ("monday", "tuesday", etc.) to a list of of
        strings. These strings in turn represent time slots during which the
        business is open.

        <p>For example, the following value would set the opening hours to
        between 08:00-15:00 in the afternoon and 18:00-23:00 in the evening on
        Mondays:

        <p><code>{"monday": ["08:00-15:00", "18:00-23:00"]}</code>

        <p>To indicate that a business is open 24 hours for a specific weekday,
        use the value <code>["00:00-23:59"]</code>.

        <p>❗ This field is not mandatory, but if not provided then the business
        will not be pushed on some platforms (example: Google). If provided,
        then a schedule needs to be sent for each day in particular
      type: object
      required:
        - monday
        - tuesday
        - wednesday
        - thursday
        - friday
        - saturday
        - sunday
      properties:
        monday:
          $ref: '#/components/schemas/Day'
        tuesday:
          $ref: '#/components/schemas/Day'
        wednesday:
          $ref: '#/components/schemas/Day'
        thursday:
          $ref: '#/components/schemas/Day'
        friday:
          $ref: '#/components/schemas/Day'
        saturday:
          $ref: '#/components/schemas/Day'
        sunday:
          $ref: '#/components/schemas/Day'
    SpecificHours:
      description: >
        <p>Exceptional opening or closing times for the business (in its
        timezone).</p>

        <p>All exceptional days of the year, including temporarily closed, can
        be specified beforehand or on the go. For example:</p>

        <ul>
         <li>Beforehand: bank holidays (like Christmas or Labor Day)</li>
         <li>Unpredicted: COVID-19 exceptional situation</li>
        </ul>

        <p>Specific hours are defined by two values:</p>

        <ul>
          <li><code>open</code>, containing a list of days with exceptional <i>opening</i> hours</li>
          <li><code>close</code>, containing a list of days where the business is exceptionally closed all day.
        </ul>

        <p>These values in turn, contain:</p>

        <ul>
         <li><code>starts_at</code> indicating the first date for which the exceptional hours are valid</li>
         <li><code>ends_at</code> indicating the last date (inclusive) for which the exceptional hours are valid</li>
         <li><code>open_hours</code> (only used for days with exceptional <i>opening</i> hours) indicating the actual time slots for the given period, following the same pattern as the time slots in <code>open_hours</code></li>
        </ul>
      type: object
      required:
        - open
        - close
      properties:
        open:
          type: array
          items:
            type: object
            properties:
              starts_at:
                type: string
                pattern: date
                example: '2020-01-20'
              ends_at:
                type: string
                pattern: date
                example: '2020-01-20'
              open_hours:
                type: array
                items:
                  $ref: '#/components/schemas/TimeWindow'
        close:
          type: array
          items:
            type: object
            properties:
              starts_at:
                type: string
                pattern: date
                example: '2020-01-20'
              ends_at:
                type: string
                pattern: date
                example: '2020-01-22'
    BusinessShortDescription:
      description: >
        <p>A short description of the business. It needs to be in the language
        of the country where the business is located. For example, if the
        business is located in Madrid, then the description needs to be in
        Spanish.

        <p>⚠️It is limited to 80 characters
      type: string
      example: lorem ipsum
    BusinessLongDescription:
      description: >
        <p>A more detailed description of the business. It needs to be in the
        language of the country where the business is located. For example, if
        the business is located in London, then the description needs to be in
        English.

        <p>⚠️It is limited to 750 characters
      type: string
      example: lorem ipsum dolor sit amet
    BusinessWebsite:
      description: The business own website url or the main url of the company.
      type: string
      format: uri
      example: https://www.corner-shop.co/
    BusinessFacebookPage:
      description: Business Facebook page url
      type: string
      format: uri
      example: https://www.facebook.com/the-corner-shop
    BusinessTwitter:
      description: Business twitter page url
      type: string
      format: uri
      example: https://www.twitter.com/the-corner-shop
    BusinessNationalIdentificationNumber:
      description: >
        <p>The National Identification Number of the business

        <p> It describes a unique number for which the business is registered in
        a specific country. For example, in France, it's SIRET code or for
        Ireland it's the CRO
      type: string
    Contact:
      description: Business contact
      type: object
      properties:
        name:
          description: Contact full name
          type: string
          example: Hubert Bonisseur de la Bath
        email:
          description: Contact email
          type: string
          format: email
          example: hubert@oss117.fr
        phone_numbers:
          description: >-
            Contact phone numbers - Preferably in the format E.164
            ('+33302060628' instead of '0302060628')
          type: array
          items:
            type: string
          example:
            - '+33302060628'
        fax:
          description: Contact fax
          type: string
          example: '+33302060629'
    BusinessContacts:
      description: >-
        Specify how the clients can reach the persons in charge of the business
        in case they have questions.</br>
      type: array
      items:
        $ref: '#/components/schemas/Contact'
    Photos:
      description: |
        <p>Business photos
        <p>Each business can have one or more photos associated
      type: object
      properties:
        LOGO:
          description: >-
            The logo image of the brand. On Google, for example, for businesses
            that have their basic information (phone number, hours, etc.), the
            Business Profile will highlight the logo.
          type: string
          format: uri
        primary:
          description: >-
            The business's main photo URL. On Google, for example, it represents
            the cover photo on the top of the profile.
          type: string
          format: uri
        secondary:
          description: Additional photos that can highlight the features of the business.
          type: array
          items:
            type: string
            format: uri
    Latitude:
      description: >-
        Latitude pushed on publishers. Decimals are separated by a dot and not
        by a comma.
      type:
        - number
        - 'null'
      format: double
      example: -3.585993
    Longitude:
      description: >-
        Longitude pushed on publishers. Decimals are separated by a dot and not
        by a comma.
      type:
        - number
        - 'null'
      format: double
      example: 47.870341
    SubscriptionActive:
      type: object
      required:
        - active
      properties:
        active:
          type: boolean
          description: Product has been activated
    Subscriptions:
      deprecated: true
      description: Business product subscriptions. Deprecated, use `features` instead.
      type: object
      required:
        - presence_management
        - review_booster
        - review_management
        - messages
      properties:
        presence_management:
          $ref: '#/components/schemas/SubscriptionActive'
          description: Is business subscribed to Presence Management
        review_management:
          $ref: '#/components/schemas/SubscriptionActive'
          description: Is business subscribed to Review Management
        review_booster:
          $ref: '#/components/schemas/SubscriptionActive'
          description: Is business subscribed to Review Booster
        messages:
          $ref: '#/components/schemas/SubscriptionActive'
          description: Is business subscribed to Business Message
      example:
        presence_management:
          active: true
        review_management:
          active: true
        review_booster:
          active: false
        messages:
          active: false
    Feature:
      allOf:
        - $ref: '#/components/schemas/FeatureEnum'
      type: string
      description: Business feature name
    Features:
      description: |
        List of business' features.
      type: array
      items:
        $ref: '#/components/schemas/Feature'
      example:
        - business_edition
        - diffusion
        - review_management
        - review_invite
        - messages
    CustomFields.Field.Base:
      description: A Custom Field
      type: object
      properties:
        name:
          description: Name of the custom field
          type: string
        type:
          description: >-
            Possible values are "BOOLEAN", "INTEGER", "TEXT", "FLOAT",
            "SINGLE_SELECT", "MULTIPLE_SELECT", "MULTIPLE_SELECT_IMAGE",
            "IMAGES_UPLOADER".
          type: string
        id:
          description: Id of the custom field
          type: integer
        order:
          type: integer
    CustomFields.Field.Text:
      allOf:
        - $ref: '#/components/schemas/CustomFields.Field.Base'
        - properties:
            value:
              description: |
                Value for this Custom Field. Can be NULL if not set.
              type:
                - string
                - 'null'
    CustomFields.Field.Integer:
      allOf:
        - $ref: '#/components/schemas/CustomFields.Field.Base'
        - properties:
            value:
              description: |
                Value for this Custom Field. Can be NULL if not set.
              type:
                - integer
                - 'null'
    CustomFields.Field.Number:
      allOf:
        - $ref: '#/components/schemas/CustomFields.Field.Base'
        - properties:
            value:
              description: |
                Value for this Custom Field. Can be NULL if not set.
              type:
                - number
                - 'null'
    CustomFields.Field.Boolean:
      allOf:
        - $ref: '#/components/schemas/CustomFields.Field.Base'
        - properties:
            value:
              description: |
                Value for this Custom Field. Can be NULL if not set.
              type:
                - boolean
                - 'null'
    CustomFields.Field.SingleSelect:
      allOf:
        - $ref: '#/components/schemas/CustomFields.Field.Base'
        - properties:
            value:
              description: |
                Value for this Custom Field. Can be NULL if not set.
              type:
                - string
                - 'null'
    CustomFields.Field.MultiSelect:
      allOf:
        - $ref: '#/components/schemas/CustomFields.Field.Base'
        - properties:
            value:
              description: |
                Value for this Custom Field. Can be NULL if not set.
              type: array
              items:
                type: string
    CustomFields.Field.MultiSelectImage:
      allOf:
        - $ref: '#/components/schemas/CustomFields.Field.Base'
        - properties:
            value:
              description: |
                Value for this Custom Field. Can be NULL if not set.
              type: array
              items:
                type: string
    CustomFieldValuesImagesUploader:
      description: Images uploader custom field value
      type: object
      properties:
        text_field:
          type: string
        max_length:
          type: number
      example:
        - text_field: name 1
          max_length: 20
        - text_field: name 2
          max_length: 30
    CustomFields.Field.ImagesUploader:
      allOf:
        - $ref: '#/components/schemas/CustomFields.Field.Base'
        - properties:
            value:
              description: |
                Value for this Custom Field. Can be NULL if not set.
              type: array
              items:
                $ref: '#/components/schemas/CustomFieldValuesImagesUploader'
    CustomFields.Array:
      description: >
        <p>Custom Fields set for this Business

        <p>They represent configurable fields that can be defined in addition to
        the normal business fields proposed by Partoo.

        They are unique to the organization and can be entirely adapted to the
        company's needs.
      type: array
      items:
        oneOf:
          - $ref: '#/components/schemas/CustomFields.Field.Integer'
          - $ref: '#/components/schemas/CustomFields.Field.Number'
          - $ref: '#/components/schemas/CustomFields.Field.Text'
          - $ref: '#/components/schemas/CustomFields.Field.Boolean'
          - $ref: '#/components/schemas/CustomFields.Field.MultiSelect'
          - $ref: '#/components/schemas/CustomFields.Field.MultiSelectImage'
          - $ref: '#/components/schemas/CustomFields.Field.SingleSelect'
          - $ref: '#/components/schemas/CustomFields.Field.ImagesUploader'
        discriminator:
          propertyName: type
          mapping:
            TEXT: '#/components/schemas/CustomFields.Field.Text'
            INTEGER: '#/components/schemas/CustomFields.Field.Integer'
            FLOAT: '#/components/schemas/CustomFields.Field.Number'
            BOOLEAN: '#/components/schemas/CustomFields.Field.Boolean'
            SINGLE_SELECT: '#/components/schemas/CustomFields.Field.SingleSelect'
            MULTIPLE_SELECT: '#/components/schemas/CustomFields.Field.MultiSelect'
            MULTIPLE_SELECT_IMAGE: '#/components/schemas/CustomFields.Field.MultiSelectImage'
            IMAGES_UPLOADER: '#/components/schemas/CustomFields.Field.ImagesUploader'
      example:
        - id: 1
          type: BOOLEAN
          name: Parking
          value: true
          order: 1
        - id: 2
          type: TEXT
          name: ManagerName
          value: toto
          order: 2
        - id: 3
          type: TEXT
          name: Supervisor
          value: null
          order: 2
        - id: 4
          type: INTEGER
          name: Surface
          value: 2
          order: 3
        - id: 5
          type: FLOAT
          name: DistanceFromSubway
          value: 2.55
          order: 4
        - id: 6
          type: SINGLE_SELECT
          name: Level
          value: two
          order: 4
        - id: 7
          type: MULTIPLE_SELECT
          name: Services
          value:
            - one
            - two
          order: 5
        - id: 8
          type: MULTIPLE_SELECT_IMAGE
          name: BannerImage
          value:
            - image 1
            - image 2
          order: 6
        - id: 9
          type: IMAGES_UPLOADER
          name: TeamMembers
          value:
            - url: image1
              texts:
                name1: value 1
                name2: value 2
          order: 7
    BusinessCompletionRate:
      description: >
        <p>The completion rate percentage of the business

        <p>The completion rate is calculated based on how many fields are filled
        for the business. If some necessary fields are not filled, it will lower
        the completion rate.

        <p> ⚠️ After the update of the business, it may take up to 24h for this
        field to be updated
      type: integer
      example: 77
    Promo:
      deprecated: true
      description: Business promotions
      type: object
      required:
        - title
        - description
        - begin
        - end
      properties:
        title:
          type: string
          description: Promo title
        description:
          type: string
          description: Promo description
        term_of_use:
          type: string
          description: Promo term of use
        additional_informations:
          type: string
          description: Promo additional informations
        begin:
          type: number
          description: Promo start timestamp
        end:
          type: number
          description: Promo end timestamp
        images:
          type: array
          description: Promo images to be displayed
          items:
            type: string
            format: uri
        client_offer_url:
          description: Promo URL
          type: string
          format: uri
        promo_url:
          description: URL of the website
          type: string
          format: uri
    BusinessPromos:
      deprecated: true
      type: array
      items:
        $ref: '#/components/schemas/Promo'
    BusinessWithCustomFields:
      description: Partoo App Business
      type: object
      properties:
        id:
          $ref: '#/components/schemas/BusinessId'
        created:
          description: Timestamp (in seconds) of the business creation
          type: number
          format: float
          example: 1409925979.5
        modified:
          description: >-
            Timestamp (in seconds) of the business last modification. Doesn’t
            take into account changes to the Custom Fields or related objects.
          type: number
          format: float
          example: 1561335111.681374
        code:
          $ref: '#/components/schemas/BusinessCode'
        status:
          $ref: '#/components/schemas/BusinessStatus'
        opening_date:
          $ref: '#/components/schemas/BusinessOpeningDate'
        org_id:
          $ref: '#/components/schemas/BusinessOrgId'
        group_id:
          $ref: '#/components/schemas/GroupId'
        groups:
          $ref: '#/components/schemas/groups'
        name:
          $ref: '#/components/schemas/BusinessName'
        address:
          description: >-
            Business address. This fields returns the same value as the field
            `address_full` for historical reasons. You should prefer the use
            `address_full`.
          type:
            - string
            - 'null'
        address_full:
          $ref: '#/components/schemas/AddressFull'
        address2:
          $ref: '#/components/schemas/Address2'
        city:
          $ref: '#/components/schemas/BusinessCity'
        zipcode:
          $ref: '#/components/schemas/BusinessZipcode'
        region:
          $ref: '#/components/schemas/BusinessRegion'
        country:
          $ref: '#/components/schemas/BusinessCountry'
        default_lang:
          $ref: '#/components/schemas/BusinessDefaultLang'
        categories:
          $ref: '#/components/schemas/BusinessCategories'
        time_slot_reference:
          $ref: '#/components/schemas/TimeSlotReference'
        open_hours:
          $ref: '#/components/schemas/OpenHours'
        specific_hours:
          $ref: '#/components/schemas/SpecificHours'
        description_short:
          $ref: '#/components/schemas/BusinessShortDescription'
        description_long:
          $ref: '#/components/schemas/BusinessLongDescription'
        website_url:
          $ref: '#/components/schemas/BusinessWebsite'
        facebook_url:
          $ref: '#/components/schemas/BusinessFacebookPage'
        twitter_url:
          $ref: '#/components/schemas/BusinessTwitter'
        google_location_id:
          description: Id of Google Location to which the business is linked
          type: string
        facebook_page_id:
          description: Id of Facebook Location to which the business is linked
          type: string
        national_identification_number:
          $ref: '#/components/schemas/BusinessNationalIdentificationNumber'
        logo_url:
          description: Business LOGO URL
          type: string
          format: uri
        contacts:
          $ref: '#/components/schemas/BusinessContacts'
        photos:
          $ref: '#/components/schemas/Photos'
        lat:
          $ref: '#/components/schemas/Latitude'
        long:
          $ref: '#/components/schemas/Longitude'
        subscriptions:
          $ref: '#/components/schemas/Subscriptions'
        features:
          $ref: '#/components/schemas/Features'
        custom_fields:
          $ref: '#/components/schemas/CustomFields.Array'
        completion_rate:
          $ref: '#/components/schemas/BusinessCompletionRate'
        promos:
          $ref: '#/components/schemas/BusinessPromos'
    BusinessReach:
      description: >-
        Defines whether the business is a physical entity with an address
        (LOCAL) or a Brand (GLOBAL).
      type: string
      enum:
        - LOCAL
        - GLOBAL
      default: LOCAL
      example: LOCAL
    RequiredBusinessCity:
      description: |
        The city where the business is located.

        `Required if 'reach' is not specified or set to 'LOCAL'`.
      type: string
      example: Paris
    BusinessLatitude:
      description: Latitude. Decimals are separated by a dot and not by a comma.
      type: number
      format: double
      example: -3.585993
    BusinessLongitude:
      description: Longitude. Decimals are separated by a dot and not by a comma.
      type: number
      format: double
      example: 47.870341
    BusinessContactsCreate:
      description: >-
        Specify how the clients can reach the persons in charge of the business
        in case they have questions.</br>
      type: array
      items:
        $ref: '#/components/schemas/Contact'
    CustomFields.Update:
      description: >
        <p>Custom Fields set for this Business

        <p>They represent configurable fields that can be defined in addition to
        the normal business fields proposed by Partoo.

        They are unique to the organization and should suit your company needs.
      type: object
      additionalProperties:
        description: >
          Replace \<custom_fields_name\> with the name of the custom field to
          update. The value must comply with the custom field type. <p> Set to
          NULL to empty the field.
      example:
        Parking: true
        ManagerName: toto
        Surface: 35
        DistanceFromSubway: 1.5
        Level: one
        Services:
          - DisabledAccess
          - FreeParking
        BannerImage:
          - image 1
          - image 2
        TeamMembers:
          - url: image1
            texts:
              name1: value 1
              name2: value 2
    RequestStatus:
      description: Request status
      type: string
      enum:
        - success
    SubscriptionDetails:
      type: object
      description: The details on the product subscription
      properties:
        status:
          type: string
          enum:
            - inactive
            - active
        canceling_date:
          type: number
          description: timestamp
    Product:
      type: string
      enum:
        - presence_management
        - review_booster
        - review_management
        - messages
      example: presence_management
    ProductSubscribeResponseObject:
      type: object
      properties:
        subscription_date:
          type: integer
          description: Date on which the subscription was activated
          example: 1540628702
        status:
          type: string
          enum:
            - active
    ProductUnsubscribeResponseObject:
      type: object
      properties:
        canceling_date:
          type: integer
          description: Date on which the subscription was canceled
          example: 1540628702
        status:
          type: string
          enum:
            - inactive
    Attributes.Field.Base:
      description: A Google Attribute
      type: object
      properties:
        gmb_id:
          description: Google id of the attribute
          type: string
        type:
          description: >-
            Possible values are "BOOL", "ENUM", "REPEATABLE_ENUM", "URL",
            "REPEATABLE_URL".
          type: string
    Attributes.Field.BOOL:
      allOf:
        - $ref: '#/components/schemas/Attributes.Field.Base'
        - properties:
            value:
              description: |
                Value for this Attribute. Can be null if not set
              type:
                - boolean
                - 'null'
    Attributes.Field.ENUM:
      allOf:
        - $ref: '#/components/schemas/Attributes.Field.Base'
        - properties:
            value:
              description: |
                Value for this Attribute. Can be null if not set
              type:
                - string
                - 'null'
    Attributes.Field.REPEATABLE_ENUM:
      allOf:
        - $ref: '#/components/schemas/Attributes.Field.Base'
        - properties:
            value:
              type:
                - object
                - 'null'
              description: |
                Value for this Attribute. Can be null if not set
              properties:
                set_values:
                  type: array
                  description: |
                    Options which are true for the Attribute. Can be empty.
                  items:
                    type: string
                unset_values:
                  type: array
                  description: |
                    Options which are false for the Attributes. Can be empty
                  items:
                    type: string
    Attributes.Field.URL:
      allOf:
        - $ref: '#/components/schemas/Attributes.Field.Base'
        - properties:
            value:
              description: |
                Value for this Attribute. Can be null if not set
              type:
                - string
                - 'null'
    Attributes.Field.REPEATABLE_URL:
      allOf:
        - $ref: '#/components/schemas/Attributes.Field.Base'
        - properties:
            value:
              description: |
                Value for this Attribute. Can be null if not set
              type:
                - array
                - 'null'
              items:
                type: string
              deprecated: true
    Attributes.Array:
      description: List of Business Attributes
      type: array
      items:
        oneOf:
          - $ref: '#/components/schemas/Attributes.Field.BOOL'
          - $ref: '#/components/schemas/Attributes.Field.ENUM'
          - $ref: '#/components/schemas/Attributes.Field.REPEATABLE_ENUM'
          - $ref: '#/components/schemas/Attributes.Field.URL'
          - $ref: '#/components/schemas/Attributes.Field.REPEATABLE_URL'
        discriminator:
          propertyName: type
          mapping:
            BOOL: '#/components/schemas/Attributes.Field.BOOL'
            ENUM: '#/components/schemas/Attributes.Field.ENUM'
            REPEATABLE_ENUM: '#/components/schemas/Attributes.Field.REPEATABLE_ENUM'
            URL: '#/components/schemas/Attributes.Field.URL'
            REPEATABLE_URL: '#/components/schemas/Attributes.Field.REPEATABLE_URL'
      example:
        - type: BOOL
          gmb_id: has_curbside_pickup
          value: false
        - type: BOOL
          gmb_id: has_delivery
          value: true
        - type: ENUM
          gmb_id: wi_fi
          value: free_wi_fi
        - type: REPEATABLE_ENUM
          gmb_id: pay_credit_card_types_accepted
          value:
            set_values:
              - american_express
              - discover
[...]
